/* Output.css */

/* Clase contenedora para aplicar estilos personalizados a la scrollbar */
.custom-scrollbar .cm-scroller::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar .cm-scroller::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scrollbar .cm-scroller::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

/* Estilos para Firefox */
.custom-scrollbar .cm-scroller {
  scrollbar-width: thin;
  scrollbar-color: #1d1d1d #464646;
}
