.container {
  display: flex;
  flex-direction: row;
}

.editor-section {
  width: 50%;
  display: flex;
  background: red;
  flex-direction: column;
  height: 100vh;
}

.display-section {
  width: 50%;
}
