.container {
  display: flex;
  flex-direction: row;
}

.editor-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.display-section {
  background: blue;
  height: 100vh;
  width: 50%;
}
