.container {
  display: flex;
  flex-direction: row;
}

.editor {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 20px;
}

.editor-section {
  width: 50%;
}

.display-section {
  background: blue;
  height: 100vh;
  width: 50%;
}
